/* Global styles */
body {
  margin: 0;
  padding: 0;
}

/* Styles for the index file */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f0ff; /* Faint purple background color */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}